.textWhenFree{
    color: #4b4b4b;
    font-weight: 300;
    margin: auto;
    font-size: 1rem;
    width: 17rem;
    height: 8.6875rem;
}

.feesTextContainer {
    width:30rem;
    word-wrap: normal;
}

.textWhenFixed{
/*     margin: 5rem auto;
 */    font-size: 1rem;
    font-weight: 300;
    color: #4b4b4b;
    height: auto;
}
.paymentContentContainer {
    padding-top: 2rem;
    padding-bottom: 3rem;
}